body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Pantalla principal */
.contenedor-inicio {
  text-align: center;
}

h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

p {
  color: #cbd5f5;
  margin-bottom: 30px;
}

/* Botones */
.botones button {
  width: 200px;
  padding: 12px;
  margin: 10px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.botones button:hover {
  transform: scale(1.05);
}

/* Botón principal */
.botones button {
  background: #22c55e;
  color: white;
}

/* Botón secundario */
.secundario {
  background: #3b82f6;
}

/* Modal */
.modal {
  position: absolute;
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.modal input {
  width: 100%;
  padding: 10px;
  margin: 6px 0;
  border-radius: 5px;
  border: none;
}

.modal button {
  width: 100%;
  margin-top: 8px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background: #22c55e;
  color: white;
}

.oculto {
  display: none;
}