body {
  margin: 0;
  font-family: Arial;
}

/* FONDO */
.portada-body {
  height: 100vh;
  background: linear-gradient(135deg, #0f172a, #1e3a8a);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/* CONTENEDOR */
.contenedor {
  text-align: center;
  background: rgba(255,255,255,0.05);
  padding: 40px;
  border-radius: 20px;
}

/* LOGO */
.logo {
  background: linear-gradient(135deg, #3b82f6, #22c55e);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-size: 28px;
  font-weight: bold;
}

/* TITULO */
h1 {
  font-size: 40px;
}

/* BOTONES */
.btn {
  display: block;
  width: 200px;
  margin: 10px auto;
  padding: 12px;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.verde {
  background: #22c55e;
}
.verde:hover {
  background: #16a34a;
}

.azul {
  background: #3b82f6;
}
.azul:hover {
  background: #2563eb;
}

.gris {
  background: #64748b;
}

/* MODAL */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  z-index: 10;
  width: 280px;
}

/* INPUTS */
.modal input {
  width: 100%;
  padding: 10px;
  margin: 6px 0;
}

/* OCULTO */
.oculto {
  display: none;
}
